:root {
    --amount-of-cols: 4;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 90vw;
    height: 90vh;
    margin: auto auto;
    padding: 10px;
}

.card {
    width: calc((100% - 20px * (var(--amount-of-cols) - 1))/var(--amount-of-cols));
    height: calc((100% - 20px * (var(--amount-of-cols) - 1))/var(--amount-of-cols));
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close {
    color: transparent;
    background-color: royalblue;
}

.matched {
    color: black;
    background-color: transparent;
}

.btn {
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}